<div class="grid grid--1x2">
    <div >
      <img class="grid__image" src="icons/ipad.png" alt="">
    </div>
    <div class="grid__text">
      <div class="media">
        <div class="media__image">
          </svg><svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#menu"></use>
          </svg>  
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cupiditate itaque, suscipit fuga magnam iure alias doloremque repellat eveniet architecto?</p>
        </div>
      </div>

      <div class="media">
        <div class="media__image">
          </svg><svg class="icon ">
              <use xlink:href="icons/sprite (1).svg#settings"></use>
          </svg>          
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, GIT & WP-CLI</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cupiditate itaque, suscipit fuga magnam iure alias doloremque repellat eveniet architecto?</p>
        </div>
      </div>

      <div class="media">
        <div class="media__image">
          </svg><svg class="icon ">
              <use xlink:href="icons/sprite (1).svg#wordpress"></use>
          </svg>          
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cupiditate itaque, suscipit fuga magnam iure alias doloremque repellat eveniet architecto?</p>
        </div>
      </div>
    </div>
   </div>