<section class="block block--dark block--skewed-right showcase">
    <div class="block__header showcase__header">
      <h2 class="block__heading">User-friendly Control Panel</h2>
    </div>
    <div class="grid grid--1x2">
      <div >
        <img class="grid__image" src="icons/ipad.png" alt="">
      </div>
      <div class="grid__text">
        <div class="media">
          <div class="media__image">
            </svg><svg class="icon icon--primary">
                <use xlink:href="icons/sprite.svg#menu"></use>
            </svg>  
          </div>
          <div class=" media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media_para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cupiditate itaque, suscipit fuga magnam iure alias doloremque repellat eveniet architecto?</p>
          </div>
        </div>
  
        <div class="media">
          <div class="media__image">
          </svg><svg class="icon icon--primary">
            <use xlink:href="icons/sp.svg#settings"></use>
        </svg>          
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p class="media_para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cupiditate itaque, suscipit fuga magnam iure alias doloremque repellat eveniet architecto?</p>
          </div>
        </div>
  
        <div class="media">
          <div class="media__image">
          </svg><svg class="icon icon--primary">
            <use xlink:href="icons/sp.svg#wordpress"></use>
        </svg>         
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p class="media_para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cupiditate itaque, suscipit fuga magnam iure alias doloremque repellat eveniet architecto?</p>
          </div>
        </div>
      </div>
     </div>
  </section>